.intro {
  background-image: linear-gradient(135deg, #23526C 0%, #3781A9 100%);

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      color: var(--color-white1);
    }
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-white1);

    &--compact {
      max-width: 20ex;
    }
  }
}
