.nav {
  &__list {
    overflow-x: auto;

    // Add padding and neg margin to allow focus style visibility
    padding: 0.5rem;
    margin: -0.5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > * + * {
      margin-left: get-size(500);
    }
  }

  &__item {
    padding: get-size(300) get-size(300);
    flex-shrink: 0;

    a {
      color: currentColor;
      font-size: 18px;

      @include apply-utility('weight', 'mid');

      &:not(:hover) {
        text-decoration: none;
      }
    }

    &:last-child {
      a {
        color: #FFFFFF;
        background: #3781A9;
        padding: 15px 20px;

        &:hover {
          text-decoration: none;
          background: darken(#3781A9, 15%)
        }
      }
    }
  }
}


