.nav {
  &__list {
    overflow-x: auto;

    // Add padding and neg margin to allow focus style visibility
    padding: 0.5rem;
    margin: -0.5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > * + * {
      margin-left: get-size(500);
    }
  }  

  &__item {
    padding: get-size(300) get-size(300);
    flex-shrink: 0;

    a {
      color: currentColor;
      font-size: 18px;

      @include apply-utility('weight', 'mid');

      &:not(:hover) {
        text-decoration: none;
      }
    }

    &:last-child {
      a {
        color: #FFFFFF;
        background: #23526C;
        padding: 15px 20px;

        &:hover {
          text-decoration: none;
          background: lighten(#23526C, 15%)
        }
      }
    }
  }
}


/* TESTING MOBILE NAV */
/* header */
 @media (max-width: 767px){
header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
}

header .nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

header .nav__list>*+* {
  margin-left: 0;
}

header li {
  display: block;
  width: 100%;
  text-align: center;
}

header .site-head__site-name {
  display: block;
  float: left;
}

/* menu */

header nav, header ul {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 5px;
}

header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ nav, header .menu-btn:checked ~ nav ul {
  max-height: 400px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
}

@media (min-width: 768px) {
  header li {
    float: left;
  }

  header nav {
    clear: none;
    float: right;
    max-height: none;
  }
  header .menu-icon, header .menu-btn {
    display: none;
  } 
}


