.post {
  &__body {
    --flow-space: #{get-size(700)};

    @include media-query('md') {
      .inner-wrapper-text {
        >:not([class*='-bleed']){
          max-width: 80%;
        }
      }
    }

    /**
     * Generic HTML styles 
     */
    h2 {
      --flow-space: #{get-size(max)};
    }

    h2 + *{
      --flow-space: #{get-size(800)};
    }

    h3 + * {
      --flow-space: #{get-size(600)};
    }

    h2,
    h3,
    h4 {
      position: relative;
      color: #23526c;
      /*display: flex;*/

      @include apply-utility('leading', 'tight');
    }

    a:not([class]) {
      color: var(--color-text);
      position: relative;
      display: inline-block;
      background:
     linear-gradient(
       to bottom, #069e2d 0%,
       #069e2d 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
      padding: 0.2rem 0.1rem 0.3rem 0.1rem;
      text-decoration: none;
  transition: background-size .2s;
      word-break: break-word;

      @include apply-utility('leading', 'tight');
    }

    a:not([class]):hover {
      background-size: 4px 50px;
      color: #ffffff;
    }

    code {
      font-size: 1.2em;
      color: var(--color-theme-primary);
      font-weight: 600;
      margin-left: 0.01ch;
      margin-right: 0.01ch;
    }

    pre > code {
      margin-right: 0;
      border: 1px solid rgba(255, 255, 255, 0.1);
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    blockquote {
      border-left: 0.4rem solid #069E2D;
      margin-left: 0;
      padding-left: get-size(500);
      padding-right: get-size(500);
      font-size: get-size(500);
      color: black;
      background: #F5F5F5;

      p {
        opacity: 0.85;
        padding: get-size(500) 0;

        strong {
          color: #04773B;
        }
      }
    }

    ol:not([class]),
    ul:not([class]) {
      margin-left: get-size(800);

      li + li {
        margin-top: get-size(300);
      }
    }

    figure,
    figure + *,
    pre > code,
    .video-player,
    .video-player + *,
    video {
      --flow-space: #{get-size('max')};
    }

    figure,
    pre > code,
    .video-player,
    video {
      width: 100vw;
      max-width: map-get($metrics, 'wrap-max-width');
      margin-left: 50%; /*changing this value to 47% removes the horizontal scrollbar once the viewport is < 930px */
      transform: translateX(
        -50%
      ); /* changing this value to 49% allows for the suggestion above to also eliminate the horizontal scroll. */
      position: relative;
    }

    figure img,
    pre > code,
    .video-player {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    }

    figure img {
      position: relative;
      z-index: 1;
    }

    figcaption {
      font-size: 0.8em;
      font-style: italic;
      max-width: map-get($metrics, 'wrap-inner-max-width');
      margin: 0.5rem auto 0 auto;
      padding: 0 get-size(500);
    }

    pre > code {
      display: block;
      background: var(--color-dark);
      padding: get-size(700);
      font-size: get-size(500);
    }
  }

  &__footer {
    background: var(--color-theme-highlight);

    h2 {
      flex-shrink: 0;
      margin-right: get-size('base');
      color: var(--color-dark);
    }

    h2 a {
      @extend %visually-hidden;
    }

    a {
      background: var(--color-bg);
      padding: 0.4rem 0.6rem;
    }
  }
}

.summary-post {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @include media-query('sm') {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;

    .summary-text { 
      grid-area: 1 / 1 / 2 / 2;

      p {
        padding-right: 30px;
      }
    }
    .summary-meta { 
      grid-area: 1 / 2 / 2 / 3; 
      border-left: 2px solid #CF7310;
      padding-left: 20px;
    }
  }


}

.meta-post {
  display: grid;
  grid-template-columns: 2rem minmax(0,1fr);
  grid-gap: .8rem .5rem;
  position: relative;
  color: #FFFFFF;

  & > * {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  dd > * {
    margin-right: 10px;
  }

  dt {
    color: white;
    justify-content: center;
  }

}

.post-newsletter {
  border: 3px solid #23526C;
  padding: 20px;

}

.author-heading {
  display: block;

  img {
    display: inline-block;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #23526C;
  }

  h3 {
    display: inline-block;
    line-height: 60px;
    vertical-align: top;
    margin-left: 20px;
  }
}