<section class="[ inner-wrapper ]  [ pad-top-900 pad-bottom-max ] ">
<h2 class="pad-bottom-800 heading-bg">Brands I've worked with</h2>
<div class="grid-brands brand-grid gap-top-600">
  <div class="box1">
    <img src="/images/brands/brand-r.png" alt="brand-r" loading="lazy">
  </div>
  <div class="box2">
    <img src="/images/brands/brand-uob.png" alt="brand-uob" width="346" height="100" loading="lazy">
  </div>
  <div class="box3">
    <img src="/images/brands/brand-rl.png" alt="brand-rl" loading="lazy">
  </div>
  <div class="box4">
    <img src="/images/brands/brand-s.png" alt="brand-s" loading="lazy">
  </div>
  <div class="box5">
    <img src="/images/brands/brand-st.png" alt="brand-st" loading="lazy">
  </div>
  <div class="box6">
    <img src="/images/brands/brand-nd.png" alt="brand-nd" loading="lazy">
  </div>
  <div class="box7">
    <img src="/images/brands/brand-t.png" alt="brand-t" loading="lazy">
  </div>
  <div class="box8">
    <img src="/images/brands/brand-lb.png" alt="brand-l" loading="lazy">
  </div>
</div>
</section>