<header class="[ pad-top-base sm:pad-top-600 md:pad-top-800 pad-bottom-base sm:pad-bottom-600 md:pad-bottom-800 home-intro-bg ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <div class="inner-wrapper-intro">
      <div class="intro-heading">
        <h1 class="[ text-600 sm:text-800 sm:text-max leading-tight color-light ] [ p-name ]">{{ introHeading }}</h1>
      </div>
      <div class="head-shot pad-top-300 sm:pad-top-600">
        <img src="/images/imagery/terry-photo.png" alt="Terry O'Brien">
      </div>
      <div class="intro-text pad-top-30 sm:pad-top-800">
        {% if introSummary %}
          <div class="[ intro__summary ] [ sf-flow ] [ leading-mid color-mid ]">{{ introSummary | safe }}</div>
        {% endif %}
        {% if introCta1Btn %}
          <a class="button secondary" href="{{ introCta1Url }}">{{ introCta1Btn | safe }}</a>
        {% endif %}
        {% if introCta2Btn %}
          <a class="button secondary" href="{{ introCta2Url }}">{{ introCta2Btn | safe }}</a>
        {% endif %} 
      </div>
  </div>
  </div>

</header>
