<section class="[ pad-top-900 services-wrapper ]">
  <div class="[ inner-wrapper ] [ sf-flow pad-bottom-700 ]">
    <h2 class="heading-bg">How I can help you</h2>
    <p class="text-500">Some of the ways I can help your business</p>
    <div class="services">

      <div class="services-1 pad-bottom-500">
        <h3 class="heading-bg">Website Builds</h3>
        <p>I have experience in building complex custom websites as part of large projects. I can also work with a number of popular CMS platforms.</p>
        <!--<p>I can help you build your website to promote your services or products. For larger projects I am available to either work alongside a team on larger custom build projects specialising in Front End Development. For smaller projects I can build you a website built on a CMS.</p> -->
      </div>
      <div class="services-2 pad-bottom-500">
        <h3 class="heading-bg">Web Accessibility</h3>
        <p>I can help make your websites accessible meeting various set levels of the W3C's Web Content Accessibility Guidelines (WCAG 2.0).</p>
        <!--<p>Many websites today are developed with accessibility barriers that make it difficult for people with disabilities (up to 20% of the population) to use. Let me help make your websites accessible following W3C's Web Content Accessibility Guidelines (WCAG 2.0).</p> -->
      </div>
      <div class="services-3 pad-bottom-500">
        <h3 class="heading-bg">Web Performance</h3>
        <p>A slow website means a decrease in sales and traffic. I can help speed up your website to improve user retention and better search rankings.</p>
        <!--<p>Every second counts. The slower your web pages load, the more users drop off - frustrated and go elsewhere. I can help you speed up your website keep more of your users in the journey. Site speed is also a search ranking factor.</p> -->
      </div>
      <div class="services-4 pad-bottom-500">
        <h3 class="heading-bg">Technical SEO</h3>
        <p>Content alone is not enough. I can help resolve issues with indexing, crawling, sitemaps, and other key factors to help improve organic rankings. </p>
        <!-- <p>Great content may play a big part your search rankings, but without a strong foundation of technical SEO your pages will be impacted in search. As a developer who understands search, I can help resolve issues with indexing, crawling, sitemaps, and other key factors to help improve organic rankings</p> -->
      </div>
    </div>
    <p class="services-cta"><a class="button primary" href="/services">More on my services</a></p>
  </div>

</section>
