<section class="testimonial-bg [ pad-top-900 pad-bottom-max ] ">
<div class=" [ inner-wrapper ] color-light">
<h2 class="pad-bottom-600 heading-underline">What people say</h2>
<p class="text-500 pad-top-400 pad-bottom-900 text-center">Some testimonials shared from clients I have worked with</p>
<div class="grid-testimonials">
  <div class="box1">
    <p class="quotation">Terry is enthusiastic, task oriented, self starting, and technically extremely competent. I would recommend him to anyone who needs talented front end consultants to get the job done.</p>
    <p class="quote-person">HEAD OF ENGINEERING, <br>RAC</p>
  </div>
  <div class="box2">
    <p class="quotation">Absolutely would work with Terry again, for the quality of his work as a developer but especially in a consulting capacity.</p>
    <p class="quote-person">DEPUTY HEAD OF DIGITAL COMMUNICATIONS, <br>UNIVERSITY OF BRISTOL</p>
  </div>
</div>
</div>
</section>
