<section class="testimonial-bg [ pad-top-900 pad-bottom-max ] ">
<div class=" [ inner-wrapper ] color-light">
<h2 class="pad-bottom-600 heading-underline">What people say</h2>
<p class="text-500 pad-top-400 pad-bottom-900 text-center">Some testimonials shared from clients I have worked with</p>
<div class="grid-testimonials">
  <div class="box1">
    <p class="quotation">Terry is one of the most reliable developers I've worked with. His attention to detail makes him much faster than other developers and his sense of responsibility is the core of his manner and attitude. <br /><br />His speciality is front end but he superbly manages breaking tasks and working with backend developers. Terry also put a lot of effort to help and upskill junior developers. I worked with Terry on various projects for about a year and I would love to work with him again.</p>
    <p class="quote-person">LEAD DEVELOPER, <br>NEWDAY CARDS</p>
  </div>
  <div class="box2">
    <p class="quotation">I worked with Terry on the launch of web tools within the Private Banking area at RBS. Terry reviewed the business and operational requirements needed to develop an appropriate solution tailored to Private customers’ needs. <br /> <br />This solution could be developed and updated in-house saving the project both time and money. His ability to resolve complex problems in constantly changing environments, and his can-do attitude, made him a pleasure to work with.</p>
    <p class="quote-person">JOURNEY MANAGER, <br>ROYAL BANK OF SCOTLAND</p>
  </div>
</div>
</div>
</section>
