{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}
{% set postListHeading = 'All posts' %}
{% set postListItems = collections.posts %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/post-list.njk" %}
<div class="[ post__body ] [ inner-wrapper ] pad-bottom-800">
    <p class="text-base sm:text-500">You are visiting just as I start writing in July 2020. <a href="https://mailchi.mp/877e42635e8c/newsletter" target="_blank" rel="noreferrer noopener">Join my newsletter</a>, and I can <strong>occasionally</strong> let you know when more articles are published. No spam and you can unsubscribe at any time.</p>
  </div>
  </main>
{% endblock %}
