/* Main Text - Open Sans - 400 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Open Sans'), local('Open Sans'),
    url('/fonts/OpenSans-Regular.woff') format('woff');
}

/* Main Text - Crete Round - 600 */
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Crete Round'), local('Crete Round'),
    url('/fonts/CreteRound-Regular.woff') format('woff');
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  @include apply-utility('font', 'serif');
}

h1 {
  font-size: get-size(600);
}

h2 {
  font-size: get-size(600);

   &.heading-bg {
    border-bottom: 8px solid #CF7310; // #F19A3E;
    padding: 15px 30px;
   }
}

h3 {
  font-size: get-size(500); 

  &.heading-bg {
    border-bottom: 5px solid #CF7310;
    padding: 10px 20px;
   }
}

h4 {
  font-size: get-size(300); 

  &.heading-bg {
    border-bottom: 3px solid #CF7310;
    padding: 7px 15px;
   }
}

.heading-bg {
  background-image: linear-gradient(135deg,#23526c 0,#3781a9 100%);
  display: inline-block;
  color: #FFFFFF;
}

.heading-underline {
  display: inline-block;
  border-bottom: 5px solid #CF7310;
  margin-bottom: 30px;
}

@include media-query('sm') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(700);
  }

  h4 {
    font-size: get-size(600);
  }
}
